body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}
h2{
    padding: 0;
    margin: 0;
}

nav{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 10vh;
}
nav ul{
    display: block;
    list-style-type: none;
    background-color: rgb(68, 63, 57);
    margin: 0;
    padding: 12px 10px;
}
li{
    display: inline-block;
    margin: 0 15px;
    padding: 0 15xp;
    border-right: solid 2px white;
}
li a{
    text-decoration: none;
    color: rgb(230, 160, 10);
    font-size: 110%;
    padding-right: 5px;
}
a:hover{
    text-decoration: underline;
}

div{
    margin: auto;
    width: 50%;
    border: solid 2px black;
    padding: 0;
    background-color: white;
}
#login , #cadastrar{
    margin: 5px;
    padding: 0;
    background-color: orange;
}
#login h2 , #cadastrar h2{
    text-align: center;
    margin: 15px 0;
}
#login form , #cadastrar form{
    margin: auto;
    width: 80%;
}
label{
    font-size: 110%;
    font-weight: bold;
}
#login form input , #cadastrar form input{
    padding: 10px 5px;
    border-radius: 5%;
    width: 100%;
    margin: 10px 0;
}
.sucesso{
    border: none;
    padding: 10px;
    font-size: 110%;
    color: white;
    background-color: rgb(37, 179, 37);
    margin: 10px 0;
}